body{
    min-height: 100vh;
    background-color: #624325;
}
header, footer{
    background-color: #fffaef;
}
a.fb-btn:hover{
    background: #f6b613;
    border-color: #f6b613;
    color: #fff;
    transition: .3s;
}
a.google-btn:hover{
    background: #47a2d1;
    border-color: #47a2d1;
    color: #fff;
    transition: .3s;
 }
a.btn:before{
   font-weight: normal;
   margin-right: 10px;
}
.tea-color{
    color: #f6b613;
}
.cubs-color{
    color: #47a2d1;
}
.tea-bg{
    background-color: #f6b613;
}
.cubs-bg{
    background-color: #47a2d1;
}
.brown-bg{
    background-color: #624325;
}
.offWhite-bg{
    background-color: #fffaef;
}
.navs{
    border-radius: 10px;
    margin-left: 5px;
}
.navs:hover{
    color: #f6b613;
    background-color: rgba(98, 67, 37, 0.8);
}
.dropdown-menu {
    width: 300px;
    height: 400px;
}
.search-box {
	position: relative;
}
.form-inline{
    display: inline-block;
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}
.scrollarea{
    overflow-y: auto;
}
.lh-tight{
    line-height: 1.25;
}
#find-section{
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}
@media only screen and (max-width: 991px){
    .lgroup{
        height: 25vh;
    }
    .google-map{
        height: 75vh;
    }
}